/* ===== Navigation ===== */
.topnav-outer {
    background-color: #6bb0b3;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#nav-bar {
    margin: 0 auto;
    width: 1024px;
}

.topnav a.icon {
    display: none;
}


.topnav a {
    color: #f2f2f2;
    display: block;
    float: left;
    font-size: 18px;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
}

.topnav a:nth-child(2) {
    margin-left: 80px;
}

.topnav a:hover {
    background-color: #4b7c7e;
}

.topnav a.active {
    background-color: #008CC1;
    color: white;
}

/* ===== Mobile Navigation ===== */
.menu-bars {
    background: url(/projects/SydneyGuide/assets/menu_light_64.png) center/cover no-repeat;
    height: 22px;
    width: 22px;
}

@media screen and (max-width: 1024px) {
    #nav-bar {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .topnav a:not(:nth-child(2)) {
        display: none;
    }

    .topnav a {
        margin-left: 80px;
    }

    .topnav a.icon {
        display: block;
        float: right;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {
        display: block;
        float: none;
        text-align: left;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.topnav .australian-flag {
    position: absolute;
    display: block;
    margin: 0 10px;
    align-items: center;
}

.australian-flag svg {
    height: 50px;
    width: 60px;
}

