body,
html {
    margin: 0px 0px;
    height: 100%;
    background-color: #233f53;
    font-family: 'Fredoka One', cursive;
}

.background {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(misc/ui/backgrounds/Skyline.png);
}

.menu {
    position: relative;
    margin: 0 auto;
    top: 40%;
    width: 580px;
    display: flex;
    flex-wrap: wrap;
}

.closebtn {
    float: right;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    background-image: url(misc/ui/buttons/quit.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    outline: none;
    transition: 0.5s;

}

.closebtn:hover {
    cursor: pointer;
    transition: 0.5s;
}

.infotext {
    position: relative;
    display: none;
    min-height: 400px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.514);
    animation: fadeInAnimation3 ease 1.5s;
    animation-fill-mode: forwards;
}

.buttons {
    width: 100%;
    animation: fadeInAnimation2 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    gap: 20px;
}

.btn {
    border-radius: 20px;
    padding: 15px;
    display: inline-flex;
    color: black;
    font-size: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.514);
    outline: none;
    transition: 0.5s;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Fredoka One', cursive;
    width: 50%;
}

#info {
    top: 180px;
    float: right;
}

#credits {
    top: 180px;
    float: left;
}

.btn:hover {
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.mainbutton {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;
}

.startbtn {
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    color: black;
    font-size: 70px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.514);
    outline: none;
    transition: 0.5s;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
}

.startbtn:hover {
    background-color: white;
    transition: 0.5s;

}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation2 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.copyright {
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(25, 25, 25, 0.714);
    position: fixed;
    right: 1%;
    bottom: 1%;
    font-size: 18px;
    color: #ffffffa7;
    text-align: center;
}

.title {
    width: max-content;
    position: absolute;
    margin: 70px auto;
    width: 100%;

}

h1 {
    font-size: 170px;
    color: #28567ad7;
    text-align: center;
    margin: 0;
}


@media screen and (max-width: 1024px) {
    h1 {
        font-size: 100px;
        color: #28567ad7;
        text-align: center;
    }

    .menu {
        width: 400px;
    }

    .infotext {
        font-size: 20px;
    }

    .btn {
        font-size: 30px;
    }

    .startbtn {
        font-size: 40px;
    }
}

@media screen and (max-width: 1024px) {

}