:root {
    --background-color: #F9F8F8;
  }
  
  header.header {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    position: relative; /* Wichtig für Glitch-Positionierung */
  }
  
  .glitched {
    position: relative;
    margin: 0;
  }
  
  .glitch-window {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    text-shadow: 2px 0 var(--background-color), -1px 0 #008CC1, -2px 0 #00435b;
    overflow: hidden;
    animation: crt-me 2500ms infinite linear alternate-reverse;
    pointer-events: none;
  }
  
  @keyframes crt-me {
    0% { clip-path: inset(10% 0 80% 0) }
    10% { clip-path: inset(50% 0 30% 0) }
    20% { clip-path: inset(30% 0 60% 0) }
    30% { clip-path: inset(80% 0 10% 0) }
    40% { clip-path: inset(20% 0 70% 0) }
    50% { clip-path: inset(50% 0 40% 0) }
    60% { clip-path: inset(70% 0 20% 0) }
    70% { clip-path: inset(10% 0 80% 0) }
    80% { clip-path: inset(40% 0 50% 0) }
    90% { clip-path: inset(60% 0 30% 0) }
    100% { clip-path: inset(20% 0 70% 0) }
  }
  
  /* Responsive Anpassungen */
  @media (max-width: 768px) {
    .glitched {
      font-size: 45px;
    }
  }
  
  @media (min-width: 1600px) {
    .glitched {
      font-size: 90px;
    }
  }