/* ===== Navigation ===== */
.topnav-outer {
    background-color: #1D1F21;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

#nav-bar {
    margin: 0 auto;
    width: 1024px;
}

.topnav a.icon {
    display: none;
    height: 20px;
    width: 20px;
}

.topnav a {
    color: #f2f2f2;
    display: block;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #191b1d;
}

.topnav a.active {
    background-color: #008CC1;
    color: white;
}

/* ===== Mobile Navigation ===== */
.menu-bars {
    background: url(/src/icons/menu_light_64.png) center/cover no-repeat;
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 1024px) {
    #nav-bar {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        display: block;
        float: right;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {
        display: block;
        float: none;
        text-align: left;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}